<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation">
  <test  name="MobWorld">
    <classes>
    
      <class name="MobWorld.Home"/>
			<class name="MobWorld.SignInSignUp"/>
					<class name="MobWorld.OrderMobiles"/>
									<class name="MobWorld.ContUs"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
